/relatorio/*
!/relatorio/relatorio.pdf
!/relatorio/relatoriot2.pdf
!/relatorio/relatorio.tex
!/relatorio/relatoriot2.tex
!/relatorio/relatoriot3.tex
!/relatorio/relatoriot3.pdf
npm-debug.log
bundle.js