ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color #111;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

img {
  border-radius: 15px 15px;
}

.navBarSup{ /* barras maiores superiores (as pretas)*/

}
.navBarInf{ /* barras menores quando tem várias opções (vários opções de cadastros, serviços e afins)*/

}
.logout{ /*div da tela de logout*/

}

.tabelas{ /*todas as tabelas*/

}
.divTables{ /*div de cada tabela*/
    float: left;
}
#multTabelas{ /*div contendo mais de uma tabela*/
    float:left; width:100%;
}
.exibeInput{ /*todos os inputs q são usados apenas para exibição de valores (nos listar por exemplo)*/

}
.inputText{ /*todos os texts contendo input (nome, cpf, qualquer coisa)*/

}
.inputFile{ /*todos os inputs de foto (área + botão)*/

}
.submits{ /*botões no geral (exceto de enviar arquivo)*/

}
.forms{ /*todas as div contendo um form*/

}
