/* Adams Vietro Codignotto da Silva - 6791943 */
/* Antônio Pedro Lavezzo Mazzarolo - 8626232 */
/* Gustavo Dutra Santana - 8532040 */
/* Veronica Vannini - 8517369 */

body{
	font-family: sans-serif;
	padding: 15px;
}

.content{
	margin-left: 15px;
}

.active {
  color: green;
  background-color: #111;
}

.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.main-menu li a:hover {
    background-color: #111;
}

.new-product-button{
    margin-top: 15px;
    border-radius: 10px;
}

.product-component{
	border: 2px solid black;
	border-radius: 10px;	
	width: 400px;
	margin: 15px 0px;
	padding: 15px;
}

.product-detail{
	position: absolute;
	top: 75px;
	left: 500px;
}

#form-new-product ul{
    list-style-type: none;
}

#form-new-product ul li{
    display: block;
    padding-top:10px;
}

.tabelas {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.tabelas td,
th {
    border: 1px solid transparent;
    height: 30px;
    transition: all 0.3s;
}
.tabelas td {
    background: #FAFAFA;
    text-align: center;
}
.tabelas th {
    background: #DFDFDF;
    /* Darken header a bit */

    font-weight: bold;
}
.tabelas tr:nth-child(even) td {
    background: #F1F1F1;
}
.tabelas tr:nth-child(odd) td {
    background: #FEFEFE;
}
.tabelas tr td:hover {
    background: #666;
    color: #FFF;
}